body{
    background: linear-gradient(to right,#12c2e9,#c471ed,#f64f59);
}

#tittle{
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    font-size: 7vh;
    font-style: italic;
}

#text{
    font-weight: bold;
    color: rgba();
    margin: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size:1.8vh;
    text-align: left;
    background-color: #dddddd;
    padding: 0 3vh 20vh 0;
    height: 100%;
    border-radius:10px;
}

#button{
    display: block;
    margin: auto;
}
